<h5>your wines</h5>

<% @wines.each do |wine| %>
	
<% full_name = "#{wine.producer} #{wine.name} #{wine.vintage}"	%>
	
<div class="row">
	
	<div class="large-12 medium-12 small-12 columns">

		<table>
			<!-- <tr>
				<th>Producer</th>
				<th>Name</th>
				<th>Producer</th>
				<th>Name</th>
				<th>Producer</th>
				<th>Name</th>
			</tr> -->

			<tr>
				<td>image thumbnail</td>
				<td><%= link_to full_name, wine %></td>
				<td>quantity</td>
				<td><%= link_to 'notes' %></td>
			</tr>
		</table>

	</div>

</div>

<% end %>