<div class="backLink">	
	<%= link_to 'back to wines', wines_path %>
</div>

<%= render "/partials/show_wine" %>

<%= link_to 'drink wine'%>

<div class="notesArea">

	<%= render "/partials/show_notes" %>

</div>
