/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

table, .wineForm {

	margin: 0 auto;
	margin-top: 20px;

}

#newNoteForm {

	display: none;

}

.active {

	border-bottom-width: 3px;
	border-bottom-color: blue;

}

.field {

	max-width: 300px;
	display: inline-block;
	margin: 0 auto;

}

.wineName {

	font-size: 33px;

}

.wineDetails {

	float: right;
	border: black 1px solid;
	padding: 5px;

}

.quantity, .window, .rating {

	text-align: center;

}

.showImage {

	display: inline-block;
	vertical-align: middle;
}

.notesArea {

	margin-top: 10px;
	padding: 20px;
	background-color: #f3f5f6;

}

.subNav {

	display: inline;
	margin: 5px;

}

