
<!-- <div class="row" id="mainBackground">
  	<div class="small-10 small-offset-1 columns"> 
  		<div class="mainDisplay"> 
			<div class="row" id="userWineMain">
				<div class="small-12 columns">
					<div class="row">

						<%= link_to 'view wines', wines_path %>

						<%= link_to 'view notes', notes_path%>
						
					</div>	
			  	</div>
			</div>  
		</div>
	</div>	
</div> -->

<div class="homepage">
    <div class="homepage-inner">
        <div class="row" id="welcome">
            <div class="small-6 columns small-offset-3 text-center">
                <%= link_to wines_path do %>
                	<h1>CellarBook</h1>
                <% end %>	
            </div>
        </div>
    </div>
</div>
