h1 {

	

}

h2 {
	margin: 0px;
	float: right;

}

#boxes {

	margin: 0px auto;
	text-align: center;
	padding: 20px;

}

#board {
	clear: both;
	background-color: blue;
	height: 450px;
	width: 450px;
	display: block;
	margin: 20px auto;

}	

/*RED BUTTON STYLE*/

.red {

	background-color: #BB1B1B;
	border-radius: 200px 0px 0px 0px;
	border: 20px solid black;
	height: 200px;
	width: 200px;
	padding: 0px;
	margin-right: -4px;
	text-align: center;

}

#redButton:focus {
  
  outline: none;

}

@keyframes redFlash {
    50%  {background-color: #FF0000;}
}

.redButtonFlash {

	animation-name: redFlash;
	animation-duration: 0.3s;
	
}

/*BLUE BUTTON STYLE*/

.blue {

	background-color: #1B1BBD;
	border-radius: 0px 0px 0px 200px;
	border: 20px solid black;
	height: 200px;
	width: 200px;
	padding: 0px;
	margin-right: -4px;
	text-align: center;

}

#blueButton:focus {
  outline: none;
}

@keyframes blueFlash {
    50%  {background-color: #0070FF;}
}

.blueButtonFlash {

	animation-name: blueFlash;
	animation-duration: 0.3s;
	
}


/*GREEN BUTTON STYLE*/
.green {

	background-color: #0F7D0F;
	border-radius: 0px 200px 0px 0px;
	border: 20px solid black;
	height: 200px;
	width: 200px;
	padding: 0px;
	margin-right: -4px;
	text-align: center;
	
}

#greenButton:focus {
  outline: none;
}

@keyframes greenFlash {
    50%  {background-color: #03E003;}
}

.greenButtonFlash {

	animation-name: greenFlash;
	animation-duration: 0.3s;
	
}



/*YELLOW BUTTON STYLE*/
.yellow {

	background-color: #B3B31B;
	border-radius: 0px 0px 200px 0px;
	border: 20px solid black;
	height: 200px;
	width: 200px;
	padding: 0px;
	margin-right: -4px;
	text-align: center;

}

#yellowButton:focus {
  outline: none;
}

@keyframes yellowFlash {
    50%  {background-color: yellow;}
}

.yellowButtonFlash {

	animation-name: yellowFlash;
	animation-duration: 0.3s;
	
}