h1 {

	

}

h2 {
	margin: 0px;
	float: right;

}



#boxes {

	margin: 0px auto;
	text-align: center;
	padding: 20px;

}

#board {
	clear: both;
	background-color: blue;
	height: 450px;
	width: 450px;
	display: block;
	margin: 20px auto;

}

.button:focus {
  outline: none;
}

@keyframes example {
    0%   {background-color: red;}
    50%  {background-color: black;}
    100% {background-color: red;}
}

.buttonFlash {

	border-radius: 200px 0px 0px 0px;
	border: 20px solid black;
	height: 200px;
	width: 200px;
	padding: 0px;
	margin-right: -4px;
	text-align: center;
	animation-name: example;
	animation-duration: 0.3s;
	
}

.red {

	background-color: red;
	border-radius: 200px 0px 0px 0px;
	border: 20px solid black;
	height: 200px;
	width: 200px;
	padding: 0px;
	margin-right: -4px;
	text-align: center;

}


.blue {

	background-color: blue;
	border-radius: 0px 0px 0px 200px;
	border: 20px solid black;
	height: 200px;
	width: 200px;
	padding: 0px;
	margin-right: -4px;
	text-align: center;

}

.green {

	background-color: green;
	border-radius: 0px 200px 0px 0px;
	border: 20px solid black;
	height: 200px;
	width: 200px;
	padding: 0px;
	margin-right: -4px;
	text-align: center;
	
}

.yellow {

	background-color: yellow;
	border-radius: 0px 0px 200px 0px;
	border: 20px solid black;
	height: 200px;
	width: 200px;
	padding: 0px;
	margin-right: -4px;
	text-align: center;

}