<div class="row">
	<div class="large-12 medium-12 small-12 columns">
		<table>
			<thead>
			    <tr>
			    	<th width="40">Date</th>
		      	<th width="150">Name</th>
		      	<th width="100">Note</th>
		      	<th width="50">Rating</th>
			    </tr>
			</thead>

			<tbody>

				<% @notes.each do |note| %>

				<% full_name = "#{note.bottle.wine.producer} #{note.bottle.wine.name} #{note.bottle.wine.vintage}"	%>
										
							<tr>
								<td><%= localize(note.created_at, :format => :uk) %></td>
								<td><%= full_name %></td>
								<td><%= link_to truncate(note.conclusion, :length => 5), note %></td>
								<td class="rating"><%= note.rating %></td>
							</tr>
				<% end %>
			</tbody>
		</table>	
	</div>
</div>		